/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
  font-family: Miraikato-Normal;
  src: url('../fonts/MiraikatoHandPERSONALUSE-Regular.otf');
}
@font-face {
  font-family: Miraikato-Thin;
  src: url('../fonts/MiraikatoHandPERSONALUSE-Thin.otf');
}

html {
  scroll-behavior: smooth;
  cursor: default;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}



.logo-img {
  width: 100px;
}

.fixed {
  position: fixed;
  top: 0px;
}

nav {
  position: absolute;
  background-color: transparent;
  z-index: 999999;
}



.shadowDelete {
  box-shadow: none !important;
}

.hoverDelete:hover {
  background-color: transparent;
  color: #e8442f;
}

.icon-svg {
  width: 20%;
  max-width: 50%;
  background-color: #e8452f46;
  padding: 1rem;
  border-radius: 15px;
}
.icon-text {
  text-align: center;
  /* font-size: 17px; */
}



/* .parallax-mio {
  position: relative;
  width: 100%;
  min-height: 40rem;
  background: url('../img/pexels-canva-studio-3194518.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.parallax-mio::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1000%;
  height: 100%;
  background-color: rgba(92, 92, 92, 0.342)
} */

.parallax-container {
  min-height: 50rem;
  max-height: 60rem;
  height: auto !important;
}

.phones,
.phones i,
.phones p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.icon-redes {
  width: 2rem;
  fill: whitesmoke;
  margin: .5rem;
  cursor: pointer;
  transition: filter linear 0.2s;
}

.icon-redes:hover {
  filter: drop-shadow(0px 2px 0px black);
}

.logo-footer {
  height: 17rem;
  display: flex;
  justify-content: center;
}

.instagram-container {
  /* flex-wrap: wrap; */
  display: grid;
  /* grid-template-rows: repeat(auto-fit, minmax(300px, 1fr)); */
  /* grid-template-columns: repeat(3, minmax(300px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(326px, 1fr)); /* Ajusta el tamaño mínimo y máximo de las columnas */
  justify-content: center;
  gap: 10px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 300px !important;
  margin: 1rem !important;
}

.cardTitleBlack {
  padding: 2px 12px 4px 12px !important;
  background-color: #00000091;
  border-radius: 0px 13px 13px 0px;
}

.banner2 div {
  color: white !important;
  top: 50% !important;
  left: 5% !important;
  filter: brightness(90%)
}

.banner2 span {
background-color: rgba(92, 92, 92, 0.589);
position: absolute;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
z-index: 0;
  /* filter: blur(3px); */
  /* filter: grayscale(70%) blur(2px); */
}